@model AspNetMvc.Models.ORM.Employee

    <form action ="/Employee/Employee" method="post">
        <div>
             @Html.LabelFor(x => x.Name)
             @Html.TextBoxFor(x => x.Name)
        </div>
       <div>
           @Html.LabelFor(x => x.Surname)
           @Html.TextBoxFor(x => x.Surname)
       </div>
        <div>
           @Html.LabelFor(x => x.Email)
           @Html.TextBoxFor(x => x.Email)
       </div>
        <div>
           @Html.LabelFor(x => x.Phone)
           @Html.TextBoxFor(x => x.Phone)
       </div>
        <div>
           @Html.LabelFor(x => x.Adress)
           @Html.TextAreaFor(x => x.Adress)
       </div>

       <div>
           <input type="submit" name="Add"/>

       </div>



    </form>
