@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/home/updateproduct" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" value="@Model.Name" />
    <input type="text" name="UnitPrice" value="@Model.UnitPrice" />
    <input type="text" name="UnitsInStock" value="@Model.UnitsInStock" />
    <input type="text" name="UnitOnOrder" value="@Model.UnitOnOrder" />
    <input type="text" name="CategoryId" value="@Model.CategoryId" />
    <input type="text" name="Discounted" value="@Model.Discounted" />


    <input type="hidden" value="Update" />



</form>